<div class="gaig-main container">
  <div class="gaig-stage no-sidebar">
    <div class="gaig-stage-inner">
      <div class="container">
        <div class="row">
          <h1 class="home text-center">{{home.model.welcomeMsg}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>