<div class="gaig-main container">
  <div class="gaig-sidebar">
    <div class="gaig-sidebar-inner">

    </div>
  </div>
  <div class="gaig-stage">
    <div class="gaig-stage-inner">
      {{example.model.firstName}}
    </div>
  </div>
</div>